

.signup-container{
    margin: 100px !important;
    display: flex;
}

.left, .right{
    width: 50%;
}

.header{
    margin-bottom: 56px !important;
}

.left{
    display: flex;
    justify-content: center;
    align-items: center;
}

.right{
    border-left: 1px solid lightblue;
    padding: 36px;
}

img{
    width: 70%;
}
@media only screen and (max-width: 780px) {
    .signup-container{
        flex-direction: column;
    }.left,
    .right {
        width: 100%;
    }
    .right{
        border: 0;
    }
    .right h3{
        text-align: center;
    }
}
@media only screen and (max-width: 480px) {
    .signup-container{
        margin: 20px !important;
    }
}
